<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
{% block content %}
{% if not c %}
<div class="container mt-3 ">
    <h1 class="text-center">Cart is Empty</h1><br><center>
    <a href="{% url 'shop:allcategories' %}" class="btn btn-warning">Continue Shopping</a></center>
</div>
{% else %}
<div class="container-fluid m-3 ">
<div class="row">
    <h1 class="text-center text-warning"><i class="fa-solid fa-cart-plus" style="color:white;"></i> SHOPPING CART</h1>
    <div class="col-sm-6 border border-4 border-dark">
<!--        border border-4 border-primary-->
        <table class="table table-borderd text-light" >
           <tr><th class="text-center text-warning" colspan="5"><b>Cart Items</b></th></tr>
            {% for i in c %}
            <tr>
                <td><img src="{{i.product.image.url}}" height="170px" width="170px"></td>
               <td><b>{{i.product.name}}</b></td>
                <td><b>Product Id: {{i.product.id}}</b><br>
                <b>Product Price: {{i.product.price}}</b><br>
                <b>Quantity: {{i.quantity}}*{{i.product.price}}</b>
                </td>
                <td><b>Subtotal: {{i.subtotal}}</b></td>
                <td>
                    {% if i.quantity < i.product.stock %}
                    <a href="{% url 'cart:addtocart' i.product.name %}"><i class="fa-solid fa-square-plus text-warning" style="font-size:25px;"></i></a>
                   <a href="{% url 'cart:remove' i.product.name  %}"><i class="fa-solid fa-square-minus text-warning" style="font-size:25px;" ></i></a>
                   <a href="{% url 'cart:delete' i.product.name  %}"><i class="fa-solid fa-trash text-warning" style="font-size:25px;"></i></a></td>
                {% else %}
                <a href="{% url 'cart:remove' i.product.name  %}"><i class="fa-solid fa-square-minus text-warning" style="font-size:25px;" ></i></a>
                   <a href="{% url 'cart:delete' i.product.name  %}"><i class="fa-solid fa-trash text-warning" style="font-size:25px;"></i></a>

            </tr>{% endif %}
            {% endfor %}

        </table>
    </div>
    <div class="col-sm-5 border border-4 border-dark">
        <table class="table table-borderd text-light">
          <tr>  <th class="text-center text-warning" colspan="4"><b>Check Out</b></th></tr>
            <tr><td class="text-center"><b>Total: {{total}}</b></td></tr>
        </table>
       <center> <a href="{% url 'cart:orderform' %}" class="btn btn-warning ">Place Order</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="{% url 'shop:allcategories' %}" class="btn btn-warning">Continue Shopping</a></center>
    </div>
</div></div>
{% endif %}
{% endblock %}