<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
{% block content %}
<center><h1 class="text-info">PLEASE REGISTER HERE</h1></center>
<form method="POST" class=" text-warning">
    {% csrf_token %}
    <div class="mb-3 " >
        <label class="form-label"><b>Username</b></label>
        <input type="text" class="form-control" name="u" placeholder="Enter Username">
    </div>
    <div class="mb-3">
        <label class="form-label"><b>Password</b></label>
        <input type="password" class="form-control" name="p" placeholder="Enter Password">
    </div>
    <div class="mb-3">
        <label class="form-label"><b>Confirm Password</b></label>
        <input type="password" class="form-control" name="cp" placeholder="Confirm Password">
    </div>
    <div class="mb-3">
        <label class="form-label"><b>Email</b></label>
        <input type="email" class="form-control" name="e" placeholder="Enter Email">
    </div>
    <div class="mb-3">
        <input type="submit" class="form-control" >
    </div>
</form>

{% endblock %}